#header{
    .navbar-inner{
        
        .navbar-brand{
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            color:white;
            font-weight:bold;
        }
    
        .nav-item {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            color:white;
            margin-right: 2rem;
        }

        .navbar-toggler-icon{
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            color:white;
        }

        .hover {
            background-color: black;
        }

        

     

        
    }
}