.banner{ 

    .carousel-indicators .active {
        background-color: transparent;
    }

    .card-title{
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
    color:white;
    }

    .card-text{
        font: {
            family: 'Montserrat', sans-serif;
            weight:bold;
            size: 9rem;
        }
        color:white;  
    }

    .banner-text{
        text-align: center;
        margin-top: 8rem;
    }
    margin-top: -50px;
    
    .btn-banner{
        margin-top: 5rem;
        align-items: center;
        text-align: center;
    }

    .line-banner{
        align-items: center;
        width: 4rem;
        height: 0.2rem;
        background-color: white;
    }

    .tab{
        width: 100%;

        .number{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight:bold;
            color: white;
        }

        .text{
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            color: white;
        }

        .li-banner{
            width: auto;
        } 
    }  
}

.group-title{
    text-align: center;

    .first-text{
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        color: rgb(55, 57, 58);
        margin-top: 5rem;
        margin-bottom: 0.2rem;
    }

    .second-text{
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(55, 57, 58);
        font-variant : small-caps;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .line-about{
        align-items: center;
        width: 4rem;
        height: 0.2rem;
        background-color: #f38181;
        margin-bottom: 4rem;
    }

    .description{
        margin-bottom: 6rem;
        p{
            text-align: center;
        }
        
    }
}

.about{
    background-color: white;
    .image-about{
        padding-bottom: 4rem;
    }

    .fact{
        background-color: #95e1d3;
        color: white;
        font-family:'Montserrat', sans-serif;

        .col{
            border-left-style: solid;  
            border-right-style: solid; 
            border-left-width: 0.1rem ;
            border-right-width: 0.1rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        
        .num{
            font-weight: bold;
            font-size: 5rem;
            text-align: center;
        }
    
        .type{
            font-size: 1.5rem;
            font-variant : small-caps;
            text-align: center;
        }
    
    }
}

.image-hover{
    margin-bottom: 6rem;
}

.blog-relative {
    position: relative;
    .blog-hover-color{
        display: none;
    }
    &:hover {
        .blog-hover-color{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background : linear-gradient(#e4837e, #edd083);
            opacity: 0.8; 
            top: 0;
        
        }
    }
} 

.service{
    background-color: white;
    padding-bottom: 4rem;

    .line-service{
        width: auto;
        background-color: #e5e5e5;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .detail{

        .pic{
            float: right;
        }

        h3{
            color: #1b1b1b;
            font-family: 'Montserrat', sans-serif;
            font-variant : small-caps;
            font-size: 1.5rem;
            font-weight: bold;
        }

        p{
            color: #8d8d8d;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.design{

    background-image: url("/../images/design/bg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    width:100%; 
    height:100%;
    position: relative;
    

    .d-block {
        margin-right: auto;
        margin-left: auto;
        height: 70%;
    }

    .items-device{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
}

.servicr2{
    background-color: white;
    margin-top: -2rem;

    .detail-service{
        padding-bottom: 4rem;
    }

    .btn{
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-variant : small-caps;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration:none;
    }

    .box{
        position: relative;
        width:100%; 
    }

    .arrow{
        position: absolute;
        right: 0;
        top: 12;
    }

    .card-header {
        background-color:transparent ;  
    }

    .card{
        margin-bottom: 1rem;
    }
}

.quote{
    align-items: center;
    
    .col{
        text-align: right;
    }

    .col-8{
        align-items: center;
        padding-top: 0.5rem;
    }

    .line-about{
        width: 4rem;
        height: 0.2rem;
        background-color: #f38181;
        float: left;
        margin-right: 1rem;
        margin-top: 0.7rem;
    }

    p{
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 1.5rem;
    }

    .img-fluid{
        border-style: solid;
        border-width: 2px;
        border-color: #95e1d3;
        padding: 5rem;
    }

    .name{
        color:  rgb(55, 57, 58);
        font-family: 'Kaushan Script', cursive;
        font-size: 1.5rem;
    }

}

.bg-gray{
    background-color: #f8f8f8;
    width: auto;
    height: auto;
    padding: 4rem;
}

.team{
    background-color: white;

    .name-team{
        text-align: center;
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-variant : small-caps;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 2rem;
    }

    .position-team{
        text-align: center;
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }
}

.work{
    background-color: white;
    .pic-random{
        background : linear-gradient(#e4837e, #edd083);
        height: 40rem;
        width: auto;
    }
}

.people{
    background-image: url("/../images/people/bg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    width:100%; 
    height:100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 57, 58);

    .blog-small{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .line-people{
        width: 6rem;
        height: 0.2rem;
        background-color: #f38181;
        margin-bottom: 2rem;
        float: left;
    }

    .detail{
        float: left;
    }

    h3{
        font-variant : small-caps;
        font-size: 1.7rem;
        font-weight: bold;
    }
}

.blog{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 57, 58);

    .picture{
        position: relative;
    }

    .blue-box{
        background-color: #95e1d3;
        position: relative;
        width: 4rem;
        height: 5rem;
        bottom : 6rem;
        right : 1rem;
        
        .text{
            padding: 0.3rem;
            color: white;
            text-align: center;
            h3{
                font-weight: bold;
                font-size: 2rem;
            }
            p{
                font-style: italic;
            }
        }
        
    }

    .detail-pic{        
        h5{
            font-variant : small-caps;
            font-size: 1.7rem;
            font-weight: bold;
        }
    }

    .detail-blog{
        padding-left: 2rem;
    }

    .map{
        background : linear-gradient(#e4837e, #edd083);
        height: 15rem;
        width: auto;
        margin-top:4rem;
    }
}

#footer{
    background-color: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4rem;

    .socials{
        margin-left: 2rem;

        h6{
            margin-top: 0.3rem;
            margin-right: 1rem;
        }
    }

    .socialhover{
        margin-left: 0.5rem;
    }

    .input-group{
        margin-top:2rem;
    }

    .ig{
        margin-top: 1rem;
    }

    .btn{
        background-color: #95e1d3;
        color: white;
        border: 1px solid #ced4da;
    }

    .copyright{
            text-align: center;
            padding: 1rem;
    }


    .footer-inner{
        h1{
            color: #999999;
            font-weight: bold;
        }

        p{
            color: #999999;
        }

        h3{
            color: #131313;
            font-weight: bold;
        }

        h5{
            color: #131313;
            font-weight: bold;
        }

        h6{
            color: #999999;
            font-style: italic;
        }

        h4{
            color: #131313;
            font-size: 1.5rem;
            font-variant : small-caps;
        }

        
    }

}



