
.banner{ 

    
    // margin-top: -50px;

    .carousel-indicators .active {
        background-color: transparent;
        width: 100%;
    }

    .line-banner{
        align-items: center;
        width: 4rem;
        height: 0.1rem;
        background-color: white;
        @media screen and (max-width: 425px) {
            margin-top: -0.5rem;
        }
    }

    .row{
        width: 100%;
        .number{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight:bold;
            color: white;
            @media screen and (max-width: 425px) {
                font-size:1rem;
            }
            @media screen and (max-width: 375px) {
                font-size: 0.9rem;
            }
            @media screen and (max-width: 320px) {
                font-size: 0.7rem;
            }
        }

        .text{
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            color: white;
            @media screen and (max-width: 425px) {
                font-size:1rem;
            }
            @media screen and (max-width: 375px) {
                font-size: 0.8rem;
            }
            @media screen and (max-width: 320px) {
                font-size: 0.5rem;
            }
        }

        .li-banner{
            width: auto;
        } 
    }

.carousel-caption{
    top: 150;
    margin-left: 5rem;
    @media screen and (max-width: 1024px) {
        top: 100;
        margin-left: 5rem;
    }
    @media screen and (max-width: 768px) {
        top: 70;
        margin-left: 5rem;
    }
    @media screen and (max-width: 425px) {
        top: 40;
        margin-left: 5rem;
    }
    @media screen and (max-width: 375px) {
        top: 35;
        margin-left: 5rem;
    }
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 9rem;
    color:white;
    @media screen and (max-width: 1024px) {
        font-size: 6rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 425px) {
        font-size: 2rem;
        padding-top: -2rem;
    }
    @media screen and (max-width: 375px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 320px) {
        font-size: 1.3rem;
    }
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 7rem;
    color:white; 
    @media screen and (max-width: 1024px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 425px) {
        font-size: 1rem;
        padding-top: -2rem;
        padding-bottom: -2rem;
        
    } 
    @media screen and (max-width: 375px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 320px) {
        font-size: 1rem;
    }
}

#btn-learn-more{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 768px) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: 425px) {
        font-size: 1rem;
       
    }
    @media screen and (max-width: 375px) {
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    @media screen and (max-width: 320px) {
        font-size: 0.5rem;
        margin-top: -1rem;
    }
}

}



.group-title{
    text-align: center;

    .first-text{
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        color: rgb(55, 57, 58);
        margin-top: 5rem;
        margin-bottom: 0.2rem;
    }

    .second-text{
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(55, 57, 58);
        font-variant : small-caps;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .line-about{
        align-items: center;
        width: 4rem;
        height: 0.2rem;
        background-color: #f38181;
        margin-bottom: 4rem;
    }

    .description{
        margin-bottom: 6rem;
        p{
            text-align: center;
        }
        
    }
}

.about{
    background-color: white;
    .image-about{
        padding-bottom: 4rem;
    }

    .fact{
        background-color: #95e1d3;
        color: white;
        font-family:'Montserrat', sans-serif;

        .col-lg , .col-xl{
            border-left-style: solid;  
            border-right-style: solid; 
            border-left-width: 0.1rem ;
            border-right-width: 0.1rem;
            padding-top: 1rem;
        }

        .col-md{
            border-left-style: solid;  
            border-right-style: solid; 
            border-left-width: 0.1rem ;
            border-right-width: 0.1rem;
        }

        .num{
            font-weight: bold;
            font-size: 5rem;
            text-align: center;
        }
    
        .type{
            font-size: 1.5rem;
            font-variant : small-caps;
            text-align: center;
        }
    
    }
}

.image-hover{
    margin-bottom: 6rem;
}

.blog-relative {
    position: relative;
    margin-bottom: 2rem;
    
    .blog-hover-color{
        display: none;
    }
    &:hover {
        .blog-hover-color{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background : linear-gradient(#e4837e, #edd083);
            opacity: 0.8; 
            top: 0;

            p{
                color: white;
                font-family:'Montserrat', sans-serif;
                text-align: center;
                font-size: 3rem;
                margin-top: 9rem;
                @media screen and (max-width: 1024px) {
                    margin-top: 7rem;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 5rem;
                }
                @media screen and (max-width: 425px) {
                    margin-top: 11rem;
                }
                @media screen and (max-width: 375px) {
                    margin-top: 9rem;
                }
                @media screen and (max-width: 320px) {
                    margin-top: 8rem;
                }
            }

            .row{
                margin-top: 18rem;
                margin-left: 6rem;
                @media screen and (max-width: 1024px) {
                    margin-left: 3.5rem;
                    margin-top: 15rem;
                }
                @media screen and (max-width: 768px) {
                    margin-left: 2.5rem;
                    margin-top: 11rem;
                }
                @media screen and (max-width: 425px) {
                    margin-left: 8rem;
                    margin-top: 20rem;
                }
                @media screen and (max-width: 375px) {
                    margin-left: 6rem;
                    margin-top: 20rem;
                }
                @media screen and (max-width: 320px) {
                    margin-left: 3.5rem;
                    margin-top: 15rem;
                }

                img{
                    @media screen and (width: 768px) {
                        width: 4rem;
                    }
                }
            }
        }
    }
} 

.service{
    background-color: white;
    padding-bottom: 4rem;

    .line-service{
        width: auto;
        background-color: #e5e5e5;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .detail{

        .pic{
            float: right;
        }

        h3{
            color: #1b1b1b;
            font-family: 'Montserrat', sans-serif;
            font-variant : small-caps;
            font-size: 1.5rem;
            font-weight: bold;
        }

        p{
            color: #8d8d8d;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.design{

    background-image: url("/../images/design/bg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    width:100%; 
    height:100%;
    position: relative;
    

    .d-block {
        margin-right: auto;
        margin-left: auto;
        height: 70%;
    }

    .items-device{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
}

.servicr2{
    background-color: white;
    margin-top: -2rem;

    .detail-service{
        padding-bottom: 4rem;
    }

    .btn{
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-variant : small-caps;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration:none;
    }

    .box{
        position: relative;
        width:100%; 
    }

    .arrow{
        position: absolute;
        right: 0;
        top: 12;
    }

    .card-header {
        background-color:transparent ;  
    }

    .card{
        margin-bottom: 1rem;
    }
}

.quote{
    align-items: center;
    

    .line-about{
        width: 4rem;
        height: 0.2rem;
        background-color: #f38181;
        float: left;
        margin-right: 1rem;
        margin-top: 0.7rem;
    }

    p{
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 1.5rem;
    }

    .img-fluid{
        border-style: solid;
        border-width: 2px;
        border-color: #95e1d3;
        padding: 4rem;
    }

    #box-pic{
        text-align: center;
    }

    .name{
        color:  rgb(55, 57, 58);
        font-family: 'Kaushan Script', cursive;
        font-size: 1.5rem;
    }

}

.bg-gray{
    background-color: #f8f8f8;
    width: auto;
    height: auto;
    padding: 4rem;
}

.team{
    background-color: white;

    .name-team{
        text-align: center;
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-variant : small-caps;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 2rem;
    }

    .position-team{
        text-align: center;
        color:  rgb(55, 57, 58);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }

    .group-title{
        padding-top: 2rem;
    }
}

.work{
    background-color: white;

    img {
        vertical-align: middle;
      }
      
      /* Position the image container (needed to position the left and right arrows) */
      .container {
        position: relative;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      
      /* Add a pointer when hovering over the thumbnail images */
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 20;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight:bold;
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* Container for image text */
      .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
        margin-bottom: 2rem;
      }

      #caption{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Six columns side by side */
      .column {
        float: left;
        width: 16.66%;
      }
      
      /* Add a transparency effect for thumnbail images */
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }

    .quote2{
        align-items: center;
    
        .line-about{
            width: 4rem;
            height: 0.2rem;
            background-color: #f38181;
            float: left;
            margin-right: 1rem;
            margin-top: 0.7rem;
        }
    
        p{
            color:  rgb(55, 57, 58);
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-size: 1.5rem;
        }

        .circle{
            text-align: center;
            height: auto;  
            width: auto; 
            border: 3px solid #fff; 
            border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
            padding-top: -6rem;
        }
    
        .name{
            color:  rgb(55, 57, 58);
            font-family: 'Kaushan Script', cursive;
            font-size: 1.5rem;
        }
    
    }
    
    .bg-white{
        background-color:white;
        width: auto;
        height: auto;
        padding: 4rem;
    }
}

.people{
    background-image: url("/../images/people/bg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    width:100%; 
    height:auto;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 57, 58);

    .blog-small{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .line-people{
        width: 6rem;
        height: 0.2rem;
        background-color: #f38181;
        margin-bottom: 2rem;
        float: left;
    }

    .detail{
        float: left;
    }

    h3{
        font-variant : small-caps;
        font-size: 1.7rem;
        font-weight: bold;
    }
}

.blog{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 57, 58);

    .picture{
        position: relative;
    }

    .blue-box{
        background-color: #95e1d3;
        position: relative;
        width: 4rem;
        height: 5rem;
        bottom : 6rem;
        right : 1rem;
        
        .text{
            padding: 0.3rem;
            color: white;
            text-align: center;
            h3{
                font-weight: bold;
                font-size: 2rem;
            }
            p{
                font-style: italic;
            }
        }
        
    }

    .detail-pic{    
        margin-top: -2rem;
        margin-bottom: 1rem;
            
        h5{
            font-variant : small-caps;
            font-size: 1.7rem;
            font-weight: bold;
        }
    }

    .detail-blog{
        img{
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    .map{
        text-align: center;
        align-items: center;
        padding-top: 2rem;
        margin-top:4rem;
        background-image: url("/../images/blog/bg.jpg");
        width: auto;
        
        #map{
            margin-bottom: 2rem;
        }

        h1{
            font-family: 'Montserrat', sans-serif;
            color: #f38181;
            margin-top:1rem;
            font-weight: bold;
        }

        a{
            text-decoration: none;
        }

        .line-map{
            align-items: center;
            width: 4rem;
            height: 0.2rem;
            background-color: #f38181;
            margin-bottom: 3rem;
          
        }

        #demo2{
            color:rgb(219, 219, 219);
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            margin-top:1rem;
        }

        #show_demo{   
            width:auto;
            height:auto;   
            display:none;   
            padding:5px;   
            overflow:hidden;   
        } 
    }
}













